body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}


/* header */
.main-header {
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  background-color: #f4f7f9;
}

.header-top {
  display: flex;
  background-color: #293449;
}

.main-header a {
  color: #ffffff;
}

.logo {
  width: 220px;
  height: 47px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.order {
  padding: 14px 22px 13px 20px;
  background-color: #63a63e;
}

.about p {
  font-style: italic;
  font-size: 16px;
  line-height: 27px;
  color: #ee3643
}

.phone {
  width: 270px;
  height: 45px;
  border: solid 3px #ffffff;
}

.phone p {
  font-size: 21px;
  color: #ee3643;
}
