body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* стилизуем header */
.main-header {
  padding-bottom: 45px;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 17px;
  color: #ffffff;
  background-color: #f4f7f9;
}

.main-nav-wrapper {
  width: 100%;
  margin-bottom: 43px;
  background-color: #293449;
}

.main-nav-wrapper .container {
  display: flex;
  position: relative;
  height: 42px;
}


/* стилизуем логотип */
.logo {
  position: absolute;
  padding-top: 13px;
  padding-right: 56px;
  padding-bottom: 3px;
  padding-left: 55px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}


/* стилизуем поле поиска */
.search {
  margin-left: 220px;
}

.search input {
  position: relative;
  width: 270px;
  height: 42px;
  padding-left: 49px;
  font-family: "Cuprum","Arial",sans-serif;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
  border: none;
}

.search input::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  left: 17px;
  opacity: 0.3;
  background: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search input:hover {
  background-color: #212a3a;
}

.search input::placeholder {
  color: #ffffff;
}

.search input:focus {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}


.bookmark,
.cart,
.order {
  padding-top: 12px;
}

/* Стилизуем кнопку закладок */
.bookmark {
  position: relative;
  padding-right: 28px;
  padding-left: 44px;
  font-family: "Cuprum","Arial",sans-serif;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.bookmark::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  left: 17px;
  opacity: 0.3;
  background: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bookmark:hover::before,
.bookmark:focus::before {
  opacity: 1;
}

.bookmark:active::before {
  opacity: 0.5;
}

.bookmark:hover,
.bookmark:focus {
  background-color: #212a3a;
}

.bookmark:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}


/* стилизуем кнопку корзины */
.cart {
  position: relative;
  padding-right: 30px;
  padding-left: 50px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 18px;
  opacity: 0.3;
  background: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart:hover::before,
.cart:focus::before {
  opacity: 1;
}

.cart:active::before {
  opacity: 0.5;
}

.cart:hover,
.cart:focus {
  background-color: #212a3a;
}

.cart:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #161d29;
}


/* стилизуем кнопку оформления заказа */
.order {
  padding-right: 22px;
  padding-left: 20px;
  line-height: 18px;
  color: #ffffff;
  background-color: #63a63e;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
}

.order:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}


/* стилизуем среднюю часть шапки */
.header-bottom {
  display: flex;
  margin-bottom: 41px;
}

.about {
  width: 270px;
  padding-left: 53px;
}

.about p {
  margin: 0;
  padding-top: 5px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

/* блок с телефоном и адресом */
.info {
  width: 276px;
}

.phone {
  width: 264px;
  height: 42px;
  border: solid 3px #ffffff;
}

.phone p {
  display: block;
  margin: 0;
  padding: 9px 40px 7px 70px;
  font-size: 21px;
  letter-spacing: 0.01px;
  color: #ee3643;
}

.address p {
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
  color: #32425c;
}

/* блок с кнопками войти/регистрация */
.enter {
  position: relative;
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 12px;
  padding-left: 48px;
  font-size: 21px;
  text-transform: none;
  color: #000000;
  background-color: #ffffff;
}

.enter::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 17px;
  top: 15px;
  left: 18px;
  background: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.enter:hover::before,
.enter:focus::before {
  opacity: 1;
}

.enter:active::before {
  opacity: 0.3;
}

.registration {
  margin-left: 4px;
  padding-top: 12px;
  padding-right: 23px;
  padding-bottom: 12px;
  padding-left: 25px;
  font-size: 21px;
  text-transform: none;
  color: #000000;
  background-color: #ffffff;
}

.user {
  margin-left: auto;
}

.user a:hover,
.user a:focus {
  color: #ee3643;
}

.user a:active {
  color: rgba(0, 0, 0, 0.3);
}


/* блок с основной навигацией */
.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav ul {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  list-style: none;
}

.main-nav a {
  display: block;
  padding-top: 16px;
  padding-right: 31px;
  padding-bottom: 13px;
  padding-left: 31px;
  color: #ffffff;
}

.main-nav a:hover,
.main-nav a:focus {
  background-color: #293449;
}

.main-nav a:active {
  color: rgba(255, 255, 255, 0.5);
}

.nav-list {
  display: flex;
  justify-content: space-between;
  padding-right: 55px;
  padding-left: 22px;
}


/* Блок с категориями */

.category {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; */
  margin-top: 60px;
  font-family: "Cuprum", "Arial", sans-serif;
  margin-bottom: 43px;
}

.category-top,
.category-bottom {
  display: flex;
  justify-content: space-between;
}

.category-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-item {
  position: relative;
  width: 280px;
  height: 123px;
  margin-bottom: 20px;
  padding-left: 20px;
  color: #ffffff;
  background-color: #ffbf47;
}

.category-item a {
  min-width: 135px;
  height: 38px;
  margin-left: 3px;
  line-height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.category-item a:hover,
.category-item a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.category-item a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.category-item p {
  display: block;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
}

.category-top .category-item:first-child::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 59px;
  top: 0;
  left: 240px;
  background: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-item:first-child::after {
  content: "";
  position: absolute;
  width: 44px;
  height: 65px;
  top: 31px;
  left: 213px;
  background: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-item:nth-child(2) {
  background-color: #3bbce3;
}

.category-item:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 61px;
  top: 33px;
  left: 197px;
  background: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-item:nth-child(3) {
  background-color: #dc91d8;
}

.category-item:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 62px;
  top: 31px;
  left: 191px;
  background: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-bottom-right .category-item:first-child {
  background-color: #8ed78f;
}

.category-bottom-right .category-item:first-child::after {
  content: "";
  position: absolute;
  width: 59px;
  height: 72px;
  top: 26px;
  left: 196px;
  background: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-bottom-right .category-item:nth-child(2) {
  background-color: #ffc047;
}

.category-bottom-right .category-item:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 63px;
  top: 32px;
  left: 191px;
  background: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider {
  position: relative;
}

.slider-title {
  position: absolute;
  margin-top: 27px;
  margin-left: 24px;
  font-family: "Cuprum","Arial",sans-serif;
  color: #ffffff;
}

.slider-title p {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider span {
  display: block;
  margin-top: 8px;
  font-size: 18px;
}

.slider .btn {
  position: absolute;
  top: 205px;
  left: 25px;
  padding-top: 10px;
  padding-right: 45px;
  padding-bottom: 7px;
  padding-left: 49px;
  border-radius: 4px;
}

.slider .btn:hover,
.slider .btn:focus {
  background-color: #ca2c37;
}

.slider .btn:active {
  background-color: #ba2732;
}

/* Блок "Популярные товары" */
.popular-products-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 89px;
  margin-bottom: 21px;
  font-family: "Cuprum","Arial",sans-serif;
  background-color: #f9f5f0;
}

.popular-products-title h2 {
  display: inline-block;
  margin-top: 32px;
  margin-left: 30px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  color: #32425c;
}

.popular-products-title a {
  width: 253px;
  height: 38px;
  margin-top: 25px;
  margin-right: 24px;
  line-height: 38px;
  border-radius: 3px;
}

.popular-products-title a:hover,
.popular-products-title a:focus {
  background-color: #ca2c37;
}

.popular-products-title a:active {
  background-color: #ba2732;
}

.popular-products ul {
  display: flex;
  justify-content: space-between;
  margin: 0 0 21px 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  list-style: none;
}

.popular-products ul li {
  margin: 0 !important;
}

.popular-products .catalog-item:nth-child(4)::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 59px;
  top: 0;
  left: 158px;
  background: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Блок "популярные производители" */
.popular-manufacturers ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-manufacturers ul li a {
  display: inline-flex;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  border: solid 1px #eaeaea;
}

.popular-manufacturers ul li a:hover,
.popular-manufacturers ul li a:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-manufacturers ul li a:active {
  opacity: 0.5;
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

/* блок с описанием компании и контактами */
.services-wrap {
  background-color: #f4f7f9;
}

.services-wrap .container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 99px;
}

.services-items-wrap {
  display: flex;
  margin-top: 74px;
}

.services-items {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  font-weight: bold;
  list-style: none;
}

.services-items a {
  display: block;
  width: 240px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 22px;
  color: #ffffff;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  background-color: #32425c;
}

.services-items a:hover,
.services-items a:focus {
  border-bottom: 1px solid #293449;
  background-color: #293449;
}

.services-items a:active {
  color: #32425c;
  border-top: 1px solid #ffffff;
  background-color: #ffffff;
}

.services h2,
.delivery h2,
.contacts h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
}

.services-items-info {
  margin-left: 80px;
}

.services-info {
  margin: 0;
  padding: 0;
}

.services-delivery p:first-child,
.services-guarantee p:first-child,
.services-credit p:first-child {
  margin: 0;
  padding: 0 0 34px 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.services-guarantee,
.services-credit {
  display: none;
}

.technomart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
  padding-top: 82px;
}

.technomart h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.delivery {
  width: 520px;
}

.delivery p:nth-child(3) {
  margin-top: 24px;
}

.delivery ul {
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 36px;
  font-size: 18px;
  list-style: none;
}

.delivery a {
  padding-top: 7px;
  padding-right: 40px;
  padding-bottom: 7px;
  padding-left: 41px;
  border-radius: 3px;
}

.delivery a:hover,
.delivery a:focus {
  background-color: #ca2c37;
}

.delivery a:active {
  background-color: #ba2732;
}

.contacts {
  width: 300px;
}

.contact-map img {
  margin-bottom: 50px;
}

.feedback {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 3px;
}

.feedback:hover,
.feedback:focus {
  background-color: #ca2c37;
}

.feedback:active {
  background-color: #ba2732;
}



/* футер */
.main-footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
}

.footer-light-wrapper {
  background-color: #32425c;
}

.footer-logo {
  position: static;
  padding: 20px 41px 0 41px;
}

.top-footer {
  display: flex;
  justify-content: space-between;
}

.footer-nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav-list li {
  padding-top: 42px;
  margin-left: 30px;
  margin-right: 30px;
}

.footer-nav-list li:last-child {
  margin-right: 0;
}

.footer-nav-list a {
  color: #f1f5f7;
}

.footer-nav-list a:hover,
.footer-nav-list a:focus {
  text-decoration: underline;
}

.footer-nav-list a:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}

.middle-footer {
  margin-top: 32px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.middle-footer p {
  margin: 0;
  padding: 0 0 0 4px;
  font-size: 18px;
  color: #f3f7f9;
}

.middle-footer .footer-nav-list li {
  padding-top: 0;
}

.middle-footer .footer-nav-list a {
  color: #ffd180;
}

.middle-footer .footer-nav-list a:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-dark-wrapper {
  background-color: #293449;
}

.bottom-footer {
  display: flex;
  padding-top: 39px;
  padding-bottom: 35px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.bottom-footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  margin: 0 120px 0 0 ;
  padding: 0 0 0 25px;
  list-style: none;
}

.bottom-footer p:first-child {
  margin-right: 135px;
}

.bottom-footer p:nth-child(3) {
  margin-right: 52px;
}


.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #ee3643;
}

.bottom-footer p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.bottom-footer p a {
  color: #ffd180;
}

.footer-links:hover,
.footer-links:focus {
  text-decoration: underline;
}

.footer-links:active {
  text-decoration: none;
  color: #ee3643;
}

/* modals */
.map-modal,
.feedback-modal,
.modal-check {
  display: none;
}




/* стили каталога */

/* блок с логином */
.cart-full {
  padding-right: 25px;
  background-color: #ee3643;
}

.name {
  display: block;
  position: relative;
  width: 300px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 21px;
  text-indent: -16px;
  text-transform: none;
  color: #000000;
  background-color: #ffffff;
}

.name::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  top: 15px;
  left: 17px;
  opacity: 0.3;
  background: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.name:hover::before,
.name:focus::before,
.name:hover::after,
.name:focus::after {
  opacity: 1;
}

.name:active::before,
.name:active::after {
  opacity: 0.3;
}

.name::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  top: 15px;
  left: 272px;
  opacity: 0.3;
  background: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login a {
  font-size: 16px;
  color: #32425c;
}

.name-options {
  text-decoration: underline;
}

.name-options:hover,
.name-options:focus {
  color: #ee3643;
}

.login a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-options {
  display: inline-block;
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.user-options {
  margin-left: 18px;
}

/* блок с хлбными крошками */
.breadcrumbs {
  margin-top: 20px;
}

.breadcrumbs ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  margin-right: 17px;
}

.breadcrumbs a {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}




/* основной блок каталога */
/* основной блок каталога */
/* основной блок каталога */
.catalog {
  display: flex;
}

h1 {
  padding: 32px 0 32px 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

/* фильтры */
.catalog form {
  width: 220px;
  margin-right: 20px;
  text-transform: uppercase;

}

form p:nth-child(1) {
  margin: 0;
  padding: 7px 0 7px 18px;
  font-size: 13px;
  background-color: #f7f3ec;
}

.form-headline {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

/* фильтр-ползунок */
.range-filter {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.range-control {
  position: relative;
  overflow: hidden;
  margin-bottom: 9px;
  padding-right: 20px;
  padding-left: 20px;
  height: 80px;
  background-color: #f7f3ec;
  border-right: 2px;
}

.bar-background {
  height: 2px;
  margin-top: 39px;
  background: #d7dcde;
}

.bar {
  width: 152px;
  height: 2px;
  background-color: #00ca74;
}

.toggle {
  position: absolute;
  left: 20px;
  top: 30px;
  cursor: pointer;
}

.toggle-end {
  left: 160px;
}

.price-range {
  display: flex;
}

.price-start,
.price-end {
  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.price-start+span {
  margin-left: 10px;
  padding-top: 12px;
  font-size: 16px;
  line-height: 18px;
}

.price-end {
  margin-left: 10px;
}

/* фильтр по производителям */
.manufacturers,
.power {
  margin-top: 15px;
}

fieldset {
  padding: 0;
  border: none;
}

fieldset p{
  font-size: 15px;
}

legend+p {
  margin-top: 10px;
}

.manufacturers {
  border-bottom: 1px solid #e5e5e5;
}

/* кнопка "показать" */
.show {
  margin-top: 60px;
  padding-top: 15px;
  padding-right: 39px;
  padding-bottom: 15px;
  padding-left: 39px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.show:hover {
  cursor: pointer;
}

/* блок сортровки */
.catalog-items {
  width: 700px;
}

.sorting-wrap {
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.sorting {
  margin-left: 19px;
}

.sorting p {
  margin: 0;
}

.sorting-type a {
  color: rgba(0, 0, 0, 0.18);
  border-bottom: 1px dotted #ee3643;
}

.sorting-type a:hover,
.sorting-type a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-type a:active {
  color: #ee3643;
  border-bottom: none;
}

.sorting-type {
  margin-left: 139px;
}

.by-type{
  margin-left: 71px;
}

.by-functional {
  margin-left: 65px;
}

/* карточки товаров */
.grid-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  list-style: none;
}

.catalog-item {
  position: relative;
  width: 218px;
  margin-top: 21px;
  text-align: center;
  border: solid 1px #e5e5e5;
}

.catalog-item:nth-child(3n+2) {
  margin-right: 20px;
  margin-left: 20px;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item img {
  margin-bottom: 12px;
}

.catalog-item p,
.catalog-item h3 {
  margin: 0;
}

.item-name {
  color: #000000;
}

.only-red .red-price {
  margin-top: 50px;
}

.red-price {
  margin: 13px auto 12px;
  /* margin-top: 13px; */
  padding-top: 9px;
  width: 141px;
  height: 38px;
  color: #ffffff;
  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
}

.pay-buttons {
  position: absolute;
  z-index: 1;
  display: none;
  padding-top: 44px;
  width: 218px;
  height: 100px;
  background-color: #ffffff;
}

.catalog-item:hover .pay-buttons {
  display: block;
}

.buy-btn,
.bookmark-btn {
  display: inline-block;
  margin-bottom: 8px;
  padding-top: 12px;
  padding-right: 45px;
  padding-bottom: 9px;
  padding-left: 49px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  border-radius: 3px;
}

.buy-btn:hover,
.buy-btn:focus {
  background-color: #5fbb2d;
}

.buy-btn:active {
  background-color: #518534;
  border-bottom: 3px solid #518534;
}

.bookmark-btn {
  padding-top: 12px;
  padding-right: 29px;
  padding-bottom: 9px;
  padding-left: 33px;
  color: #32425c;
  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.bookmark-btn:hover,
.bookmark-btn:focus {
  border: 3px solid #32425c;
}

.bookmark-btn:active {
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid rgba(50, 66, 92, 0.3);
}

.old-price {
  display: block;
  margin-top: 18px;
  color: #999999;
  text-decoration: line-through;
}

/* пагинация */
.pagination {
  margin-top: 52px;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.pagination li {
  display: inline-block;
}

.pagination a {
  margin-right: 10px;
  padding: 10px 16px 12px 16px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.pagination a:hover,
.pagination a:focus {
  border: 1px solid #bdc6ca;
}

.pagination a:active {
  border: 1px solid #ee3643;
}

.pagination .active {
  background-color: #ee3643;
  color: #ffffff;
  border: 1px solid #ee3643;
}

.pagination .next-page {
  padding: 10px 32px 12px 32px;
}

/* статья о перформаторах */
.about-wrapper {
  width: 100%;
  margin-top: 60px;
  padding-top: 67px;
  padding-bottom: 73px;
  background-color: #f4f7f9;
}

.about-wrapper .container h2+p {
  margin: 0;
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}
