body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.btn {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
}


/* стилизуем header */
.main-header {
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  color: #ffffff;
  background-color: #f4f7f9;
}

.header-top {
  min-height: 42px;
  background-color: #293449;
}


/* стилизуем логотип */
.logo {
  float: left;
  padding-top: 12px;
  padding-right: 56px;
  padding-bottom: 9px;
  padding-left: 55px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}


/* стилизуем поле поиска */
.search {
  float: left;
  width: 270px;
}

.search input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 49px;
  font-family: "Cuprum","Arial",sans-serif;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
  border: none;
}

.search input:hover {
  background-color: #212a3a;
}

.search input::placeholder {
  color: #ffffff;
}

.search input:focus {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}


/* Стилизуем кнопку закладок */
.bookmark {
  float: left;
  padding-top: 12px;
  padding-right: 28px;
  padding-bottom: 12px;
  padding-left: 44px;
  font-family: "Cuprum","Arial",sans-serif;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.bookmark:hover,
.bookmark:focus {
  background-color: #212a3a;
}

.bookmark:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}


/* стилизуем кнопку корзины */
.cart {
  float: left;
  padding-top: 12px;
  padding-right: 28px;
  padding-bottom: 12px;
  padding-left: 44px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  font-size: 17px;
  line-height: 18px;
}

.cart:hover,
.cart:focus {
  background-color: #212a3a;
}

.cart:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #161d29;
}


/* стилизуем кнопку оформления заказа */
.order {
  float: left;
  padding: 12px 22px 12px 20px;
  line-height: 18px;
  color: #ffffff;
  background-color: #63a63e;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
}

.order:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}

/* стилизуем среднюю часть шапки */
.about p {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

/* блок с телефоном и адресом */
.info {
  width: 270px;
}

.phone {
  width: 270px;
  height: 45px;
  border: solid 3px #ffffff;
}

.phone p {
  display: block;
  margin: 0;
  padding: 11px 45px 13px 70px;
  font-size: 21px;
  letter-spacing: 0.42px;
  color: #ee3643;
}

.address p {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  color: #32425c;
}

/* блок с кнопками войти/регистрация */
.enter {
  padding-top: 12px;
  padding-right: 27px;
  padding-bottom: 12px;
  padding-left: 48px;
  font-size: 21px;
  text-transform: none;
  color: #000000;
  background-color: #ffffff;
}

.registration {
  padding-top: 12px;
  padding-right: 25px;
  padding-bottom: 12px;
  padding-left: 25px;
  font-size: 21px;
  text-transform: none;
  color: #000000;
  background-color: #ffffff;
}

.user a:hover,
.user a:focus {
  color: #ee3643;
}

.user a:active {
  color: rgba(0, 0, 0, 0.3);
}


/* блок с основной навигацией */
.main-nav {
  margin: 0;
  padding: 0;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
  background-color: #293449;
  list-style: none;
}

.main-nav li {

}

.main-nav a {
  height: 60px;
  color: #ffffff;
}
